[submodule "lib/DefinitelyTyped"]
	path = lib/DefinitelyTyped
	url = https://github.com/yegor-alexeyev/DefinitelyTyped
[submodule "lib/raphael"]
	path = lib/raphael
	url = https://github.com/DmitryBaranovskiy/raphael/
